@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/*
    The five basic font-families are:
    serif, sans-serif, monospace, cursive, fantasy
*/

#p1 {
    color: red;
    font-family: 'Rowdies', cursive;
    font-size: 12px;
}

#p2 {
    color: #7FBD34;
    font-size: 150%
}

#p3 {
    color: rgba(0, 0, 255, 0.5);
}

#p4 {
    font-weight: bold;
}

#p5 {
    font-style: italic;
    text-decoration: underline;
}

#p6 {
    text-decoration: line-through;
}